html{
    background-color: rgb(15,33,56);
    font-family: Comic Sans MS;
}

#input_wrapper{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input_movie{
    width: 30vw;
    border: none;
    height: 5vh;
    border-radius: 8px;
    padding: 3px;
    padding-left: 15px;
}

#no_wrapper{
    padding: 2px;
    margin-top: 3vh;
}

#input_number{
    width: 2vw;
    border: none;
    height: 5vh;
    border-radius: 8px;
    padding: 3px;
    text-align: center;
}

input:focus{
    outline: none;
}

#headings{
    color: white;
    font-size: x-large;
    padding: 2px;
    font-weight: 1200;
    font-family: Comic Sans MS;
}

button{
    background-color: rgb(241, 74, 76);
    color: white;
    font-weight: 600;
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-top: 3vh;
    font-size: 20px;
    width: auto;
    transition: .02s ease-in-out;
    margin-bottom: 4vh;
}

button:hover{
    background-color: rgb(255, 97, 105);
    color: white;
    font-weight: 600;
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-top: 3vh;
    font-size: 20px;
    width: auto;
    cursor: pointer;
}


button:focus{
    outline: none;
}